.cont {
    position: relative;
  }
  
  /* Bottom right text */
  .text-block {
      
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
  }

  .backfip {
      background-image: url(./images/3.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
  }

  .card{
    border: 0px;
  }

  footer{
    background-color: #000487;
    color: #B8C1FC;
  }

.list-unstyled > li > a{
    color: #B8C1FC;
  }

.activa {
  background-color: #000487;
  color: white;
}

.notification {
  color: white;
  padding: px 5px;
  position: relative;
  display: inline-block;
  padding-right: 30px;
}

/* .notification:hover {
  text-shadow: rgb(241, 9, 9);
} */

.notification .badge {
  position: absolute;
  top: -5px;
  left: -16px;
  padding: 5px 10px;
  border-radius: 100%;
  background: red;
  color: white;
}


/* Toggle switch */
.switch {
  position: relative;
  display: inline-block;
  width: 63px;
  height: 28px;
}

/* Hide default HTML checkbox */
.switch input {
  display: none;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .8s;
}

input:checked + .slider {
  background-color:#F33181;
}

input:focus + .slider {
  box-shadow: 0 0 10px #f3e521;
}

input:checked + .slider:before {
  -webkit-transform: translateX(36px);
  -ms-transform: translateX(36px);
  transform: translateX(36px);
}

.on{
  display: none;
}

.on
{
  color: white;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 35%;
  font-size: 13px;
  font-family: Verdana, sans-serif;
}

.off
{
  color: white;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 65%;
  font-size: 13px;
  font-family: Verdana, sans-serif;
}

input:checked+ .slider .on
{display: block;}

input:checked + .slider .off
{display: none;}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* The container */
.containe {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  padding-top: 4px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.containe input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 20%;
}

/* On mouse-over, add a grey background color */
.containe:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.containe input:checked ~ .checkmark {
  background-color: #F33181;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.containe input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.containe .checkmark:after {
  left: 8px;
  top: 3px;
  width: 9px;
  height: 15px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}